{% extends "arch_app/account_settings.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block account_settings %}
    <form action="{% url 'arch_app:change_password' %}" method="post" class="py-3">

        {% csrf_token %}
        {{ form|crispy }}


        <div class="text-right mt-3">
            <button type="submit" class="btn btn-primary" title="Change Password">{% trans "Change Password" %}</button>&nbsp;
            <a href="{% url 'arch_app:profile' %}" class="btn btn-outline-danger">{% trans "Cancel" %}</a>
        </div>

    </form>




{% endblock %}