{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans "Password reset" %}</title>
</head>
<body>
<h2>{% trans "Hello" %} {{ user.username }}!</h2>
<p>{% trans "You are receiving this email because you requested a password reset for your user account with the email" %} {{ email }} .</p>
<p>{% trans "Follow the link below to set a new password:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} }}">{% trans "Reset password" %}</a></p>
<p>{% trans "In case you cannot open the link above, please copy and pase the link below into your browser:" %}</p>
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
<p>{% trans "If you did not asked for a password reset, please ignore this email." %}</p>
<p>{% trans "Best regards" %}</p>
</body>
</html>
