{% extends "./base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load arch_tags %}
{% load mathfilters %}


{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block navbar %}
    {% include "./partials/navbar.html" %}
{% endblock %}

{% block content %}

    <div class="row justify-content-center py-3">
        <div class="col-6 text-center">
            <h1>{% trans "Archive Metrics" %}</h1>
        </div>
    </div>

    <div class="row py-2 justify-content-center">

        <div class="col-10">

            <div class="row py-3">

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2">
                        <div class="card-header">
                            <h3>{% trans "Records" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_records }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2">
                        <div class="card-header">
                            <h3>{% trans "Albums" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_albums }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2">
                        <div class="card-header">
                            <h3>{% trans "Users" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_users }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2">
                        <div class="card-header">
                            <h3>{% trans "Archives" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_archives }}</h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row py-3">

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2"
                         title="{% trans "The number of times users logged into the archive." %}">
                        <div class="card-header">
                            <h3>{% trans "Visits" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_logins }}</h4>
                            {#                            {% if number_of_users %}#}
                            {#                                <p>{% trans "average per user" %}: {{ number_of_logins|div:number_of_users }}</p>#}
                            {#                            {% else %}#}
                            {#                                0#}
                            {#                            {% endif %}#}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2"
                         title="{% trans "The number of comments on records." %}">
                        <div class="card-header">
                            <h3>{% trans "Comments" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_comments }}</h4>
                            {#                            {% if number_of_records %}#}
                            {#                                <p>{% trans "average per record" %}: {{ number_of_comments|div:number_of_records }}</p>#}
                            {#                            {% else %}#}
                            {#                                0#}
                            {#                            {% endif %}#}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2"
                         title="{% trans "The number of tagged persons on all records." %}">
                        <div class="card-header">
                            <h3>{% trans "Tags" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ number_of_tags }}</h4>
                            {#                            {% if number_of_records %}#}
                            {#                                <p>{% trans "average per record" %}: {{ number_of_tags|div:number_of_records }}</p>#}
                            {#                            {% else %}#}
                            {#                                0#}
                            {#                            {% endif %}#}
                            {# {{ tagbox.x1|div:tagbox.width|mul:100|stringformat:".2f" }}%;#}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="card text-white text-center bg-info m-2"
                         title="{% trans "The number of views over all records." %}">
                        <div class="card-header">
                            <h3>{% trans "Views" %}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="py-0">{{ number_of_record_views }}</h4>
                            {#                            <p>{% trans "average per record" %}:#}
                            {#                                {% if number_of_records %}#}
                            {#                                    {{ number_of_record_views|div:number_of_records }}#}
                            {#                                {% else %}#}
                            {#                                    0#}
                            {#                                {% endif %}#}
                            {#                            </p>#}
                            {# <h4 class="py-0">{% trans "Albums" %}: {{ number_of_album_views }}</h4>#}
                            {# <h4 class="py-0">{% trans "Groups" %}: {{ number_of_archive_views }}</h4>#}
                        </div>
                    </div>
                </div>

            </div>  <!-- row -->

            <div class="row justify-content-center">
                <div class="col-sm-6">
                    {# Pie Chart of the upload ration #}
                    <div id="upload-ratio"
                         data-uploads-mod="{{ uploads_mods }}" data-uploads-member="{{ uploads_members }}">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    {# table of the most viewed records #}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Album</th>
                            <th scope="col">Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in most_viewed_albums %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'arch_app:album' entry.album.id %}">
                                        {{ entry.album.title }}
                                    </a>
                                </td>
                                <td>{{ entry.views }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    {# table of the most viewed records #}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Record</th>
                            <th scope="col">Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in most_viewed_records %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'arch_app:record' entry.record.id %}">
                                        {{ entry.record.title }}
                                    </a>
                                </td>
                                <td>{{ entry.views }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div id="graph-records" data-x="{{ timeseries_records.x }}" data-y="{{ timeseries_records.y }}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="graph-logins" data-x="{{ timeseries_logins.x }}" data-y="{{ timeseries_logins.y }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div id="graph-record_views"
                         data-x="{{ timeseries_record_views.x }}" data-y="{{ timeseries_record_views.y }}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="graph-albums" data-x="{{ timeseries_albums.x }}" data-y="{{ timeseries_albums.y }}">
                    </div>
                </div>
            </div>

        </div>  <!-- col-10 -->


    </div>  <!-- row -->

{% endblock %}

{% block js %}
    <script>
        window.arch.dashboard();
    </script>


    {#    <script>#}

    {#$(window).on("load", function createGraph() {#}
    {##}
    {#    var graph_records = document.getElementById('graph-records');#}
    {# reformat string to array #}
    {#    var x = graph_records.getAttribute("data-x").replace("[", "").replace("]", "").replaceAll("'", "").replaceAll(" ", "").split(",")#}
    {#    var y = graph_records.getAttribute("data-y").replace("[", "").replace("]", "").split(",");#}
    {##}
    {#    var trace = {#}
    {#        x: x,  //  ['2020-10-04', '2021-08-04', '2021-11-04'],#}
    {#        y: y,  // [90, 40, 60],#}
    {#        type: 'bar'#}
    {#    };#}
    {#    var data = [trace];#}
    {#    var layout = {#}
    {#        title: 'Record Uploads',#}
    {#        showlegend: false#}
    {#    };#}
    {#    Plotly.newPlot(graph_records, data, layout, {staticPlot: true});#}
    {##}
    {#    var graph_logins = document.getElementById('graph-logins');#}
    {# reformat string to array #}
    {#    var x = graph_logins.getAttribute("data-x").replace("[", "").replace("]", "").replaceAll("'", "").replaceAll(" ", "").split(",")#}
    {#    var y = graph_logins.getAttribute("data-y").replace("[", "").replace("]", "").split(",");#}
    {#    var trace = {#}
    {#        x: x,#}
    {#        y: y,#}
    {#        type: 'bar'#}
    {#    };#}
    {#    var data = [trace];#}
    {#    var layout = {#}
    {#        title: 'Visits',#}
    {#        showlegend: false#}
    {#    };#}
    {#    Plotly.newPlot(graph_logins, data, layout, {staticPlot: true});#}
    {##}
    {#    var graph_record_views = document.getElementById('graph-record_views');#}
    {# reformat string to array #}
    {#    var x = graph_record_views.getAttribute("data-x").replace("[", "").replace("]", "").replaceAll("'", "").replaceAll(" ", "").split(",")#}
    {#    var y = graph_record_views.getAttribute("data-y").replace("[", "").replace("]", "").split(",");#}
    {#    var trace = {#}
    {#        x: x,#}
    {#        y: y,#}
    {#        type: 'bar'#}
    {#    };#}
    {#    var data = [trace];#}
    {#    var layout = {#}
    {#        title: 'Record Views',#}
    {#        showlegend: false#}
    {#    };#}
    {#    Plotly.newPlot(graph_record_views, data, layout, {staticPlot: true});#}
    {##}
    {#    var graph_albums = document.getElementById('graph-albums');#}
    {# reformat string to array #}
    {#    var x = graph_albums.getAttribute("data-x").replace("[", "").replace("]", "").replaceAll("'", "").replaceAll(" ", "").split(",")#}
    {#    var y = graph_albums.getAttribute("data-y").replace("[", "").replace("]", "").split(",");#}
    {#    var trace = {#}
    {#        x: x,#}
    {#        y: y,#}
    {#        type: 'bar'#}
    {#    };#}
    {#    var data = [trace];#}
    {#    var layout = {#}
    {#        title: 'Albums Views',#}
    {#        showlegend: false#}
    {#    };#}
    {#    Plotly.newPlot(graph_albums, data, layout, {staticPlot: true});#}
    {##}
    {# create pie plot with member VS moderator uploads #}
    {#    var graph_upload_ratio = document.getElementById('upload-ratio');#}
    {#    var uploads_mods = graph_upload_ratio.getAttribute("data-uploads-mod");#}
    {#    var uploads_members = graph_upload_ratio.getAttribute("data-uploads-member");#}
    {##}
    {#    var data = [{#}
    {#        values: [uploads_mods, uploads_members],#}
    {#        labels: ['Moderators', 'Members'],#}
    {#        type: 'pie',#}
    {#        textinfo: "value+percent",#}
    {#    }];#}
    {#    var layout = {#}
    {#        title: 'Uploads by Moderators and Members',#}
    {#    };#}
    {#    Plotly.newPlot(graph_upload_ratio, data, layout, {staticPlot: true});#}
    {##}

    {#    </script>#}

{% endblock %}
