{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans "Password Changed" %}</title>
</head>
<body>
<h3>{% trans 'Dear' %} {{ user.username }}</h3>
<p>{% trans 'This is a confirmation email to inform you that your password for ' %}{{ hostname }} {% trans 'has been successfully changed' %}.</p>
<br>
<p>{% trans 'If you did not request this password change or believe this is a mistake, please contact our support team immediately.' %}</p>
<br>

<p>{% trans "Best regards" %}</p>
</body>
</html>
